<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <title>Home</title>
</head>

<body>
<h1>Welcome to the HOME PAGE !</h1>

<table class="userList">
    <thead>
    <tr>
        <th>User</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
    </tr>
    </tbody>
</table>
<br/>
<br/>
<br/>

<form method="POST" th:action="@{/home}" th:object="${user}">

    <h3>Create user:</h3>
    <label for="username">Username: </label>
    <input type="text" name="username" id="username"/>
    <span class="validationError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Please fill username.</span><br/>
    <label for="password">Password: </label>
    <input type="password" name="password" id="password"/>
    <span class="validationError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Please fill password.</span><br/>

    <h3>Select roles:</h3>
    <label>
        <input name="roles" type="checkbox" th:value="USER"/>
    </label>
    <span th:text="USER"></span>
    <label>
        <input name="roles" type="checkbox" th:value="ADMIN"/>
    </label>
    <span th:text="ADMIN"></span><br/>
    <span class="validationError" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Please select at least 1 role.</span><br/>

    <input type="submit" value="Create"/>
</form>

</body>
</html>
